/* Common style */
* {
    margin: 0;
    padding: 0;
}

.title-main {
    color: #363958;
}

.title-socendery {
    color: #fa804c;
}

/* Header style */

/* Header banner starting*/
.slider {
    background-color: #FEEAE9;
}

.product-info h2 {
    line-height: 60px;
}

.product-info h2 span {
    font-size: 50px;
    font-weight: 700;
}

.common-btn {
    background-color: #3D4FF3;
    color: #fff9f4;
    padding: 12px 30px;
    border: none;
}

.common-btn:hover {
    background-color: #fa804c;
    border: none;
    color: #fff9f4;
}

/* Header banner ending */

/* Media queary */

/* Mobile divice */

@media screen and (max-width:576px) {
    .single-slider {
        flex-direction: column;
        text-align: center;
    }

    .slider-img {
        margin: auto !important;
    }

    .product-info {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 20px !important;
    }

    .product-info h2 {
        line-height: 50px;
    }

    .product-info h2 span {
        font-size: 40px;
    }
}

/* tablet device */

@media screen and (min-width:576px) and (max-width:992px) {
    .slider-img {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .product-info {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .product-info h2 {
        line-height: 48px;
    }

    .product-info h2 span {
        font-size: 40px;
    }
}