/* Common style */
* {
    margin: 0;
    padding: 0;
}

.title-main {
    color: #363958;
}

.title-socendery {
    color: #fa804c;
}

.main-col {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 8px -3px;
}

/* Header style */

/* Header banner starting*/
.slider {
    background-color: #FEEAE9;
}

.product-info h2 {
    line-height: 60px;
}

.product-info h2 span {
    font-size: 50px;
    font-weight: 700;
}

.common-btn {
    background-color: #3D4FF3;
    color: #fff9f4;
    padding: 12px 30px;
    border: none;
}

.common-btn:hover {
    background-color: #fa804c;
    border: none;
    color: #fff9f4;
}

/* Header banner ending */

/* Header ending */

/* Casual shoes section starting */

.offer-toast {
    position: absolute;
    top: auto;
    right: 1rem;
    font-size: 70%;
    box-shadow: 0px 0px 5px 0px;
}

.see-all {
    display: block;
    float: right;
    margin-right: 5%;
}

.see-all-btn {
    color: #fa804c;
    border: none;
    font-weight: 500;
}

.see-all-btn:hover {
    color: #363958;

}

/* Media queary */

/* Mobile divice */

@media screen and (max-width:576px) {
    .nav-logo {
        width: 50% !important;
    }

    .single-slider {
        flex-direction: column;
        text-align: center;
    }

    .slider-img {
        margin: auto !important;
    }

    .product-info {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 20px !important;
    }

    .product-info h2 {
        line-height: 50px;
    }

    .product-info h2 span {
        font-size: 40px;
    }

    .information-section {
        flex-direction: column-reverse;
        margin: auto;
        text-align: center;
    }

    .single-info-section {
        flex-direction: column;
    }

    .info-img {
        margin-bottom: 2rem;
        width: 50% !important;
    }

    .information-img {
        margin: auto;
        margin-bottom: 4rem;
    }
}

/* tablet device */

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-logo {
        width: 50% !important;
    }

    .slider-img {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .product-info {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .product-info h2 {
        line-height: 48px;
    }

    .product-info h2 span {
        font-size: 40px;
    }

    .information-section {
        flex-direction: column-reverse;
        margin: auto;
        text-align: center;
    }

    .single-info-section {
        flex-direction: column;
    }

    .info-img {
        margin-bottom: 2rem;
        width: 50% !important;
    }

    .information-img {
        margin: auto;
        margin-bottom: 4rem;
    }

}